header {
  height: 20px;
  background: #FFF;
  position: relative;
  padding: 0 10px;

  h1 a {
    font-size: 0.4em;
    color: #999;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
    float: left;
  }
}
